<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новости</title>
</head>
<body>
<!-- news_list.html -->
{% extends 'default.html' %}

{% block content %}
  <h1>Список новостей</h1>
<a href="{% url 'news:news_list' %}">Список новостей</a>
<p>Количество новостей: {{ news|length }}</p>

{% for item in news %}
    <h2>{{ item.title }}</h2>
    <p>Дата публикации: {{ item.created_at|date:"d.m.Y" }}</p>
    <p>{{ item.text|truncatewords:20 }}</p>
    <a href="/news/{{ item.id }}">Подробнее</a>
{% empty %}
    <p>Нет доступных новостей.</p>
{% endfor %}
{% endblock %}
</body>
</html>